<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Weather App</title>
</head>
<body>
    <div class="container">
        <h1>Weather App</h1>
        <form action="/weather" method="get">
            <input type="text" name="city" placeholder="Enter name of your city">
            <button type="submit">Get weather</button>
        </form>
        <% if (error) { %>
            <p class="error"><%= error%></p>
        <% } else if (weather) { %>
            <!-- Weather info -->
            <div class="card">
                <p>Temperature: <%=weather.main.temp%>&deg;F</p>
                <p>Sky: <%=weather.weather[0].main%></p>
                <p>Location: <%=weather.name%> <%=weather.sys.country%></p>
            </div>
        <% } %>
    </div>
</body>
</html>